
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
header div{
    display: flex;
    justify-content: space-around;
    width: 33%;
    height: 100%;
    border: 2px crimson;

}

header div img{
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 30%;
}

.nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #cccccc ;
    border-radius: 20px;
    height: 3rem;

}
.nav2 div{
    background-color: #fb3c5b;
    border-radius: 50%;
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.nav3{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.buscador{
    border:2px solid #ffffff ;
    height: 2.5rem;
    width:80% ;
    border: none;




}
.buscador:hover{
    border:2px solid #ffffff ;

}
.nav3 .menuu{
    border:2px solid #cccccc ;
    border-radius: 20px;

}
.world{
    display: flex;
    justify-content: end;
    width: 2rem;
    height: 2rem;


}

.world img{
    width: 100%;
    height: 100%;
}

.fondon{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;


    background-color: #000000;
    height: 1000px;
    width: 100%;

}
.mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff385c;
    width: 90%;
    height: 35%;
    border-radius: 15px;
    margin: 3rem;


}

.portada2{
    border-radius: 15px;
    margin-top: 3rem;
    width: 90%;
    height: 80%;



    top: 50px;
}

.portada2 img{


    border-radius: 15px;
    width: 100%;
    height: 100%;

}
p{
    color: #cccccc;
}

.mensaje div p,form{

    font-size: 4rem;
    text-align: center;

    color: #fff8f9;
    height: 100%;
    width: 100%;
    margin: 40px;
    
}

form input{
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: #fb3c5b;
    color: #ffffff;
    cursor: pointer;

}

.btonportada{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    position: absolute;
    top: 1100px;
    right: 500px;



}

.btonportada p{
    font-size: 4rem;
    color: #ffffff;
}

.btonportada form input{
    background-color: #ffffff;
    color: #8d2fad;
    font-size: 18px;
    font-;
}

.cardpadre{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1%;

    width: 100%;
    height: 900px;
    width: 100%;

}

.card{



    width: 380px;
    
    height: 50%;
    border-radius: 10px;
    overflow: hidden;

}

.card1{
    width: 100%;
    
    height: 50%;
}
.card2{
    width: 100%;
    height: 50%;
    background-color: #cc2d4b;

}

.card22{
    width: 100%;
    height: 50%;
    background-color: #bc1a6f;

}

.card23{
    width: 100%;
    height: 50%;
    background-color: #d93b30;

}

.card24{
    width: 100%;
    height: 50%;
    background-color: #de3051;

}

.card div img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tex2{

    display: flex;
    justify-content: ;

    flex-direction: column;
    width: 100%;
    height: 5%;

    position: relative;
    top: 400px;
    left: 10%;
    font-size: 3rem;
    color: #000000;





}

.tex2 p{

    color: #000000;





}

.segundahoja{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}


.card span {
    font-size: 2rem;
    color: #ffffff;
    margin: 2rem;
    padding-top: 1rem;
}

.card p {
    font-size: 20px;
    color: #ffffff;
    margin-left: 2rem;


}


.tercerahoja{
    display: flex;

    align-items: center;
    flex-direction: column;
    font-size: 2rem;

}

.tercerahoja p{

    font-size: 3rem;
    color: #000000;
    margin: 2rem;
    text-align: start;

}


.imghoja3{
    display: flex;
    width: auto;
    width: auto;
    gap: 1%;
    border-radius: 15px;

}

.hoja3p{
    text-align: start;


    width: 80%;
}

.imghoja3 div{
    width: 100%;
    height: 100%;

    border-radius: 15px;
    overflow: hidden;


}

.imghoja3 div img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;


}


.cuartahoja{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 3rem; 

    
    width: auto;
    height: auto;
    border-radius: 15px;
}


.cuartahoja img{
    width: 76%;
    height: auto;
    border-radius: 15px;
}